@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: FONT-FAMILY;
	src: url("./assets/font/IBMPlexSans-Regular.ttf") format("truetype");
}
:root {
	--primary-clr-opacity: #f0e2ff;
	--primary-clr: #731dd8;
}
::selection {
	background-color: var(--primary-clr-opacity);
	color: var(--primary-clr);
}
* {
	font-family: FONT-FAMILY;
}
